################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Privacy.slnx/FileContentIndex/2c93c734-db48-4990-b0cc-bf40279418e9.vsidx
